[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
markdown2 = "*"
"ruamel.yaml" = "*"
pyyaml = "*"
pyside6 = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.12"
